<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spo.tis.mapper.MyDataMapper">
   
   <select id="clubList" parameterType="Paging" resultType="Mc">
      select *
      from (select rownum rn,
      a.* from (select cname, csports , cking,
      outdate, mcstate, cplace
      from mc
      join member m
      on m.idx = mc.idx
      join club
      c
      on mc.cno = c.cno where
      mc.idx=1 and mcstate=1) a)
      <![CDATA[
      where rn > #{start} and rn <=#{end}
      ]]>
   </select>
   
   <select id="clubCount" resultType="int">
      select count(cno) from mc
      where idx = 1 and MCSTATE= 1
   </select>
   
   <select id="clubHList" parameterType="Paging2" resultType="Mc">
      select *
      from (select rownum rn,
      a.* from (select cname, csports , cking,
      outdate, mcstate, cplace
      from mc
      join member m
      on m.idx = mc.idx
      join club
      c
      on mc.cno = c.cno where
      mc.idx=1 and mcstate=0) a)
      <![CDATA[
      where rn > #{start} and rn <=#{end}
      ]]>
   </select>
   
   <select id="clubHCount" resultType="int">
      select count(cno) from mc
      where idx = 1 and MCSTATE= 0
   </select>
   
   <select id="teamList" parameterType="paging3" resultType="Mt">
      select * from (select rownum rn,
      a.* from (select t.tname ,t.tsports , t.tking,
      t.tplace
      from mt
      join member m
      on m.idx = mt.idx
      join team t
      on mt.tno =
      t.tno where
      mt.idx= 1 )a)
      <![CDATA[
      where rn > #{start} and rn <=#{end}
      ]]>
   </select>

   <select id="teamCount" parameterType="int" resultType="int">
      select count(tno) from mt
      where idx = 1
   </select>
   
   
</mapper>